<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Users / <%= title %>
</h1>

<p> Name: <%= user.name %> </p>
<p>Email: <%= user.email %> </p>

<form action="/users/deleteSession" method="get">
    <input type="submit" value="Sign Out">
</form>